/*table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}
th, td {
    padding: 5px;
}*/

a{
	margin-top: 20px;
}
table{
	margin-top: 10px;
    white-space: nowrap; /* prevent column from break-line due to big text*/
}

th.headerSortUp { 
    background-image: url(../img/asc.gif) !important; 
    background-color: #3399FF; 
} 

th.headerSortDown { 
    background-image: url(../img/desc.gif) !important; 
    background-color: #3399FF; 
} 

th.header { 
    background-image: url(../img/asc_desc.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px !important; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

#autor span{
    float:right;
    color: #C8C8C8;
}